.page {
 position: relative;
}

.page .main-content {
  /* height: 100vh; */
  padding: 40px 20px;
  background-color: var(--grey);
}

@media (min-width: 1024px){
  .page .main-content {
    padding: 40px;
  }

  .page .page-inner {
    display: grid;
    grid-template-columns: .25fr 1fr;
    grid-template-areas: 
      "sidebar header"
      "sidebar main"
      "sidebar footer";
  } 

  .page .header {
    grid-area: header;
  
  }

  .page .sidebar {
    grid-area: sidebar;
  }

   .page .footer {
    grid-area: footer;
  } 
}