:root {
  /*Fonts do not like this one*/
  --font-main: "Inter", sans-serif;
  --font-base-weight: 400;

  /* Colors */
  --black: #222222;
  --slate-black: #424342; 
  --white: #ffffff;
  --off-white: #fffff4;
  --grey: #f2f2f2;
  --blue: #2b50aaff;
  --pink: #ff9fe5ff;
  --hotpink: #F82EC2;
  --purple:	#6300A6;
  --light-purple: #8100D9;
  --tea-green: #c6dec6ff;
  --beige: #E4DFDA;

  /* Hover Colors */
  --hover-text-color-dark: var(--purple);
  --hover-text-color-light: var(--tea-green);

  /*Transition*/
  --hover-transition: 0.34s ease-in;

  /* Containers */
 
  --padding-base: 20px;

}