.intro {
  position: relative;
  border: 1px double black;
  padding: 20px;
  padding: 12px;
  max-width: 80ch;
  margin: 0 auto;
  box-shadow: 3px 5px 1px var(--hotpink);
  background-color: #fffff4;
}

.intro .intro-inner {
  max-width: var(--max-width-sm);
}

.intro .intro-title {
  font-size: 2rem;
  line-height: var(--h1-line-height);
}

.intro .intro-content > p {
    font-size: 17px;
    line-height: 1.2;
    font-weight: 400;
}

.intro .intro-content > p > .link {
  color: var(--celadon);
  font-weight: 600;
}

.intro .excite-list {
  list-style-type: none;
  padding: 0;
}


 /* Party Theme */
 .intro.party-theme {
  background-color: var(--black);
  border: 3px solid var(--blue);
  border-radius: 3px;
  box-shadow: 3px 5px 1px var(--hotpink);
 }

 .intro.party-them .intro-title {
  color: var(--pink);
}

.intro.intro-party .intro-content > p {
  color: var(--white);
}
