.intro {
  position: relative;
  max-width: 640px;
}

.intro .intro-title {
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 1;
}

.intro .intro-content {
  margin-bottom: 24px;
}

.intro .intro-content > p {
    font-size: 17px;
    line-height: 1.2;
    font-weight: 400;
}

.intro .intro-content > ul {
  margin-left: 16px;
}

.intro .intro-content :is(
  p > .link, 
  ul li a.link 
) {
  color: var(--black);
  font-weight: 600;
}

.intro .excite-list {
  list-style-type: none;
  padding: 0;
}

/* .intro .intro-content > p > .link:hover { */
.intro .intro-content :is(
  p > .link, 
  ul li a.link
):is(:hover) {
  color: var(--hover-text-color);
  transition: var(--hover-transition);
}


 /* Party Theme */
 .intro.party-theme {
  background-color: var(--black);
  border: 3px solid var(--blue);
  border-radius: 3px;
  box-shadow: 3px 5px 1px var(--hotpink);
 }

 .intro.party-them .intro-title {
  color: var(--pink);
}

.intro.intro-party .intro-content > p {
  color: var(--white);
}
