.intro {
  position: relative;
  max-width: 820px;
}

 .intro .intro-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
      gap: 20px;
 }

.intro :is(.intro-title, .intro-subtitle) {
  margin-bottom: 20px;
  font-size: 2rem;
  line-height: 1;
}

.intro .intro-content {
  margin-bottom: 24px;
}

.intro .intro-text {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
}

.intro .btn-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* .intro .intro-content > ul {
  margin-left: 16px;
} */

.intro .intro-content :is(
  p > .link, 
  ul li a.link 
) {
  color: var(--black);
  font-weight: 600;
}

.intro .excite-list {
  list-style-type: none;
  padding: 0;
}

.intro .intro-content :is(
  p > .link, 
  ul li a.link
) {
  transition: var(--hover-transition);
}

.intro .intro-content :is(
  p > .link, 
  ul li a.link
):is(:hover) {
  color: var(--hover-text-color-dark);
}

@media (min-width: 1024px){
  .intro .intro-inner {
    flex-direction: row;
    align-items: flex-start;
  }

  .intro .intro-img {
    flex: 0 1 60%;
  }

  .intro .intro-title {
    font-size: 48px;
  }

   .intro .intro-subtitle {
    font-size: 34px;
  }

  .intro .intro-text {
    font-size: 20px;
  }
}

 /* Party Theme */
 .intro.party-theme {
  background-color: var(--black);
  border: 3px solid var(--blue);
  border-radius: 3px;
  box-shadow: 3px 5px 1px var(--hotpink);
 }

 .intro.party-them .intro-title {
  color: var(--pink);
}

.intro.intro-party .intro-content > p {
  color: var(--white);
}
